<!DOCTYPE html>
<html>

<head>
  <title>Detalhes da Escala</title>

  <script>
    function ordenarTabela(coluna) {
      const tabela = document.getElementById("tabelaMedicos");
      const linhas = Array.from(tabela.getElementsByTagName("tr")).slice(1); // Ignora a primeira linha (cabeçalho)
      const ordem = tabela.getAttribute("data-ordem") === "asc" ? -1 : 1;

      linhas.sort((a, b) => {
        const valorA = a.getElementsByTagName("td")[coluna].innerText.trim();
        const valorB = b.getElementsByTagName("td")[coluna].innerText.trim();

        if (coluna === 1) { // Se for a coluna de data, converter para um objeto Date para comparação
          const dataA = new Date(valorA);
          const dataB = new Date(valorB);
          return (dataA - dataB) * ordem;
        } else {
          return isNaN(valorA) ? valorA.localeCompare(valorB) * ordem : (valorA - valorB) * ordem;
        }
      });

      // Remove as linhas existentes da tabela
      linhas.forEach(linha => tabela.appendChild(linha));

      // Inverte a ordem para a próxima vez
      tabela.setAttribute("data-ordem", ordem === 1 ? "desc" : "asc");
    }
  </script>
</head>

<body class="bodyScale">
  <div class="escalaDetalhes">
    <h1>Detalhes da Escala</h1>
    <p>Data de Início: <%= escala.dataInicio.toDateString() %></p>
    <p>Data de Fim: <%= escala.dataFim.toDateString() %></p>
  </div>

  </div>
  <div>
    <table id="tabelaMedicos">

      <tr>
        <th class=nomeTittle onclick="ordenarTabela(0)">Nome do Médico</th>
        <th class=nomeTittle onclick="ordenarTabela(1)">Data</th>
        <th class=nomeTittle onclick="ordenarTabela(2)">Turno</th>
      </tr>
      <% const coresMedicos = {}; %>
      <% escala.medicos.forEach((medico) => { %>
      <% const medicoNome = medico.nomeMedico; %>
      <% const cor = coresMedicos[medicoNome] || getRandomColor(); %>
      <% coresMedicos[medicoNome] = cor; %>
      <tr style="background-color: <%= cor %>;">
        <td class=nomeTittle><%= medicoNome %></td>
        <td class=nomeTittle><%= medico.dia.toISOString().split('T')[0] %></td>
        <td class=nomeTittle><%= medico.turno %></td>
      </tr>
      <% }); %>
      </td>
      </tr>
    </table>
  </div>
  <div class="downloadPdf">
    <a href="#" id="downloadPdfBtn">Download PDF</a>
  </div>
  <div class="btnsEscala">
    <div class="excluirEscala">
      <form action="/escala/<%= escala._id %>/delete" method="get">
        <button type="submit">Excluir Escala</button>
      </form>
    </div>
    <div class="voltar">
      <a href="/escala">Voltar para a lista de escalas</a>
    </div>
  </div>
  <% function getRandomColor() { return 'rgba(' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ',' + Math.floor(Math.random() * 256) + ', 0.5)'; } %>

</body>
<script>
  const escalaId = "<%= escala._id %>"
  document.getElementById('downloadPdfBtn').addEventListener('click', () => {
    // Quando o botão é clicado,  requisição para o servidor para o download do PDF
    fetch(`/escala/${escalaId}/pdf`)
      .then(response => response.blob())
      .then(blob => {
        // Criar link temporário e clicar nele para iniciar o download
        const link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = 'escala.pdf';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      })
      .catch(error => console.error('Erro ao baixar o PDF', error));
  });
</script>

</html>