<body>
  <h1 class="header">Detalhes do Médico: <%= medico.nome %></h1>

  <ul class="details-list">
    <% medico.historicoFerias.forEach(ferias => { %>
    <div class="feriasCard">
      <h4>Férias</h4>

      <li class="details-item">Data de Início: <%= new Date(ferias.dataInicio).toLocaleDateString() %></li>
      <li class="details-item">Data de Término: <%= new Date(ferias.dataFim).toLocaleDateString() %></li>
    </div>
    <% }); %>
  </ul>
  <div class="btnDocUpdate">
    <!-- Botão para Atualizar Médico -->
    <a href="/doctors/<%= medico._id %>/update" class="action-button">
      Atualizar Médico
    </a>


    <a href="/doctors/<%= medico._id %>/delete" class="delete-button">
      Excluir Médico
    </a>
    <a href="/doctors" class="link">Voltar para a Lista de Médicos</a>
</body>
</div>
</div>