<head>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>


<body>
  <% if (typeof errorMessage !== 'undefined') { %>
  <p style="color: red; background-color: darkgrey;"><%= errorMessage %></p>
  <% } %>

  <h1 class="header1">Detalhes do Médico: <%= medico.nome %></h1>

  <ul class="details-list">
    <% medico.historicoFerias.forEach(ferias => { %>
    <div class="feriasCard">
      <h4>Férias</h4>
      <li class="details-item">Data de Início: <%= new Date(ferias.dataInicio).toLocaleDateString() %></li>
      <li class="details-item">Data de Término: <%= new Date(ferias.dataFim).toLocaleDateString() %></li>
    </div>
    <% }); %>
  </ul>


  <% const hoje = new Date(); %>
  <% const proximaUrgencia = encontrarProximaUrgencia(escalas, medicoNaEscalaInfo, hoje); %>

  <% if (proximaUrgencia) { %>
  <div class="calCont">
    <h4>Próxima Urgência:</h4>
    <p>Periodo da Escala: <%= formatDate(proximaUrgencia.escala.dataInicio) %> - <%= formatDate(proximaUrgencia.escala.dataFim) %></p>
    <p>Dia de Trabalho: <%= formatDate(proximaUrgencia.info.dia) %> Turno: <%= proximaUrgencia.info.turno %></p>
  </div>
  <% } else { %>
  <p>Não há urgências futuras agendadas.</p>
  <% } %>

  <% function encontrarProximaUrgencia(escalas, medicoNaEscalaInfo, hoje) { %>
  <% for (const escala of escalas) { %>
  <% for (const info of medicoNaEscalaInfo) { %>
  <% if (info.escalaId && info.escalaId.toString() === escala._id.toString() && new Date(info.dia) >= hoje) { %>
  <% return { escala, info }; %>
  <% } %>
  <% } %>
  <% } %>
  <% return null; %>
  <% } %>

  <% function formatDate(date) { %>
  <% const day = date.getDate(); %>
  <% const month = date.getMonth() + 1; %>
  <% const year = date.getFullYear(); %>
  <%= `${day}/${month}/${year}` %>
  <% } %>


  </div>
  <div class="modal fade" id="eventoModal" tabindex="-1" role="dialog" aria-labelledby="eventoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventoModalLabel">Detalhes do Evento</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="eventoModalBody">
        </div>
      </div>
    </div>
  </div>
  <div class="calendarpos">
    <% if (escalas.length > 0) { %>
    <h2 class="histCale">Calendário</h2>
    <div class="calendario" id="<%= 'calendar-' + escalas[0]._id %>">
    </div>
    <% } %>
  </div>



  <div class="btnDocUpdate">
    <a href="/doctors/<%= medico._id %>/update" class="action-button">Atualizar Médico</a>
    <a href="/doctors/<%= medico._id %>/delete" class="delete-button">Excluir Médico</a>
    <a href="/doctors" class="link">Voltar para a Lista de Médicos</a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    <% if (escalas.length > 0) { %>
    const calendarEl = document.getElementById('<%= 'calendar-' + escalas[0]._id %>');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      eventClick: function(info) {
        $('#eventoModalLabel').text(info.event.title);
        $('#eventoModalBody').html('<p>Data de Início: ' + info.event.start.toLocaleString() + '</p>');

        $('#eventoModal').modal('show');
      },
    });

    <% for (const ferias of medico.historicoFerias) { %>
    calendar.addEvent({
      title: '<%= medico.nome %> - Férias',
      start: '<%= new Date(ferias.dataInicio).toISOString() %>',
      end: '<%= new Date(new Date(ferias.dataFim).getTime() + (24 * 60 * 60 * 1000)).toISOString() %>',
    });
    <% } %>

    <% escalas.forEach(escala => { %>
    <% for (const info of medicoNaEscalaInfo) { %>
    <% if (info.escalaId && info.escalaId.toString() === escala._id.toString()) { %>
    calendar.addEvent({
      title: ' <%= info.turno %>',
      start: '<%= info.dia.toISOString() %>',
    });
    <% } %>
    <% } %>
    <% }); %>

    calendar.render();
    <% } %>
  });
</script>

</html>