<body>
  <h1 class="docFormTitle">Atualizar Médico</h1>
  <form action="/doctors/<%= medico._id %>/update" method="post">
    <div class="nomeDoc">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" value="<%= medico.nome %>" required>
    </div>

    <div class="emailDoc">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" value="<%= medico.email %>" required>
    </div>

    <div id="ferias-container">
      <!-- Iterar sobre o histórico de férias -->
      <% for (let i = 0; i < medico.historicoFerias.length; i++) { %>
      <div class="ferias-group">
        <label class="docFormLabel">Data de Início de Férias:</label>
        <input type="date" name="historicoFerias[<%= i %>][dataInicio]" value="<%= medico.historicoFerias[i].dataInicio ? medico.historicoFerias[i].dataInicio.toISOString().split('T')[0] : '' %>" class="docFormInput">

        <label class="docFormLabel">Data de Término de Férias:</label>
        <input type="date" name="historicoFerias[<%= i %>][dataFim]" value="<%= medico.historicoFerias[i].dataFim ? medico.historicoFerias[i].dataFim.toISOString().split('T')[0] : '' %>" class="docFormInput">

        <button type="button" onclick="deleteFeriasInput(this)" class='RemoveScale'>Excluir</button>
      </div>
      <% } %>
    </div>
    <div class="updateDocBt">
      <button type="button" onclick="addFeriasInput()" class="buttonAddData">Adicionar Data de Férias</button>

      <input type="hidden" id="feriasCount" name="feriasCount" value="<%= medico.historicoFerias.length %>">

      <button type="submit" class="buttonAddDoc">Atualizar Médico</button>
    </div>
  </form>

  <script>
    function addFeriasInput() {
      const container = document.getElementById("ferias-container");
      const dataIndex = parseInt(document.getElementById("feriasCount").value);
      const feriasGroup = document.createElement("div");
      feriasGroup.className = "ferias-group";
      const dataInicioLabel = document.createElement("label");
      dataInicioLabel.textContent = "Data de Início de Férias:";
      dataInicioLabel.className = "docFormLabel";
      feriasGroup.appendChild(dataInicioLabel);

      const dataInicioInput = document.createElement("input");
      dataInicioInput.type = "date";
      dataInicioInput.name = `historicoFerias[${dataIndex}][dataInicio]`;
      dataInicioInput.className = "docFormInput";
      feriasGroup.appendChild(dataInicioInput);
      const dataFimLabel = document.createElement("label");
      dataFimLabel.textContent = "Data de Término de Férias:";
      dataFimLabel.className = "docFormLabel";
      feriasGroup.appendChild(dataFimLabel);
      const dataFimInput = document.createElement("input");
      dataFimInput.type = "date";
      dataFimInput.name = `historicoFerias[${dataIndex}][dataFim]`;
      dataFimInput.className = "docFormInput";
      feriasGroup.appendChild(dataFimInput);

      const deleteButton = document.createElement("button");
      deleteButton.type = "button";
      deleteButton.textContent = "Excluir";
      deleteButton.className = 'RemoveScale'
      deleteButton.onclick = function() {
        deleteFeriasInput(deleteButton);
      };
      feriasGroup.appendChild(deleteButton);

      container.appendChild(feriasGroup);

      document.getElementById("feriasCount").value = dataIndex + 1;
    }

    function deleteFeriasInput(button) {
      const feriasGroup = button.parentNode;
      feriasGroup.remove();
    }
  </script>
</body>