<!-- updateMedico.ejs -->
<!-- updateMedico.ejs -->
<html>

<head>
  <title>Atualizar Médico</title>
</head>

<body>
  <h1>Atualizar Médico</h1>
  <form action="/doctors/<%= medico._id %>/update" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="<%= medico.nome %>" required>

    <!-- Container para os campos de férias -->
    <div id="ferias-container">
      <!-- Iterar sobre o histórico de férias -->
      <% for (let i = 0; i < medico.historicoFerias.length; i++) { %>
      <div class="ferias-group">
        <label>Data de Início de Férias:</label>
        <input type="date" name="historicoFerias[<%= i %>][dataInicio]" value="<%= medico.historicoFerias[i].dataInicio ? medico.historicoFerias[i].dataInicio.toISOString().split('T')[0] : '' %>">

        <label>Data de Término de Férias:</label>
        <input type="date" name="historicoFerias[<%= i %>][dataFim]" value="<%= medico.historicoFerias[i].dataFim ? medico.historicoFerias[i].dataFim.toISOString().split('T')[0] : '' %>">

        <button type="button" onclick="deleteFeriasInput(this)">Excluir</button>
      </div>
      <% } %>
    </div>

    <!-- Botão para adicionar novos campos de férias -->
    <button type="button" onclick="addFeriasInput()">Adicionar Data de Férias</button>

    <!-- Campo oculto para contar o número de campos de férias -->
    <input type="hidden" id="feriasCount" name="feriasCount" value="<%= medico.historicoFerias.length %>">

    <!-- Botão de envio do formulário -->
    <button type="submit">Atualizar Médico</button>
  </form>

  <script>
    function addFeriasInput() {
      const container = document.getElementById("ferias-container");
      const dataIndex = parseInt(document.getElementById("feriasCount").value);
      const feriasGroup = document.createElement("div");
      feriasGroup.className = "ferias-group";

      const dataInicioInput = document.createElement("input");
      dataInicioInput.type = "date";
      dataInicioInput.name = `historicoFerias[${dataIndex}][dataInicio]`;
      feriasGroup.appendChild(dataInicioInput);

      const dataFimInput = document.createElement("input");
      dataFimInput.type = "date";
      dataFimInput.name = `historicoFerias[${dataIndex}][dataFim]`;
      feriasGroup.appendChild(dataFimInput);

      const deleteButton = document.createElement("button");
      deleteButton.type = "button";
      deleteButton.textContent = "Excluir";
      deleteButton.onclick = function() {
        deleteFeriasInput(deleteButton);
      };
      feriasGroup.appendChild(deleteButton);

      container.appendChild(feriasGroup);

      document.getElementById("feriasCount").value = dataIndex + 1;
    }

    function deleteFeriasInput(button) {
      const feriasGroup = button.parentNode;
      feriasGroup.remove();
    }
  </script>
</body>


</html>